body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }
body{font-family:Arial, Helvetica, sand-serif;}
.container{
  width:800px;
  margin 0 auto;
}
#main{
  background: url(photoshop/slices/images/website_layout_01_header.jpg) repeat-x;
}
#logo{
  background:url(photoshop/slices/images/website_layout_09_logo.png) no-repeat;
  height:83px;
  width:351px;
  text-indent: 40px;
}
#logo h1{
  text-indent: -9999px;
}
#header{
  padding-top: 80px;
}
#tagline{
  float: left;
  padding-top: 20px;
  padding-left: 20px;
}
#tagline h3{font-size: 30px;color:#e4dfdf;}
